<div class="container">
{% if not is_short_mode %}
	<div class="row">
		<div class="text-right font-weight-bold">
			ID:
		</div>
		<div class="col-sm">{{ object.id }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Title:
		</div>
		<div class="col-sm">{{ object.title }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Type:
		</div>
		<div class="col-sm">{{ object.type }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Genre:
		</div>
		<div class="col-sm">{{ object.genre }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Author:
		</div>
		<div class="col-sm">{{ object.author }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Published in:
		</div>
		<div class="col-sm">{{ object.pub_year }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Price:
		</div>
		<div class="col-sm">{{ object.price }}$</div>
	</div>
{% endif %}
{% if object.type == 'PAINTING' %}
	<div class="row">
		<div class="text-right font-weight-bold">
			Height:
		</div>
		<div class="col-sm">{{ detail.height }} cm</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Width:
		</div>
		<div class="col-sm">{{ detail.width }} cm</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Paint:
		</div>
		<div class="col-sm">{{ detail.paint }}</div>
	</div>
{% elif object.type == 'BOOK' %}
	<div class="row">
		<div class="text-right font-weight-bold">
			Pages:
		</div>
		<div class="col-sm">{{ detail.pages }}</div>
	</div>
	<div class="row">
		<div class="text-right font-weight-bold">
			Cover:
		</div>
		<div class="col-sm">
			{% if detail.cover %}
				<img src="{{ detail.cover.url }}" height="100px" />
			{% else %}
				no cover image.
			{% endif %}
		</div>
	</div>
{% elif object.type == 'MUSIC' %}
	<div class="row">
		<div class="text-right font-weight-bold">
			Duration: 
		</div>
		<div class="col-sm">{{ detail.duration }}(HH:MM:SS)</div>
	</div>
{% elif object.type == 'MOVIE' %}
	<div class="row">
		<div class="text-right font-weight-bold">
			Duration:
		</div>
		<div class="col-sm">{{ detail.duration }} (HH:MM:SS)</div>
	</div>
{% endif %}
</div>
