{% extends 'base.html' %}

{% block title %}Delete Artwork: {{object.title}}{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
  <h1>Delete Artwork: {{object.title}}</h1>

	<form action="" method="post">
		{% csrf_token %}
		<p>The following Artwork will be deleted. All related childs will be deleted by CASCADE. Are you sure?</p>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					ID:
				</div>
				<div class="col-sm">{{ object.id }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Title:
				</div>
				<div class="col-sm">{{ object.title }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Type:
				</div>
				<div class="col-sm">{{ object.type }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Genre:
				</div>
				<div class="col-sm">{{ object.genre }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Author:
				</div>
				<div class="col-sm">{{ object.author }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Published in:
				</div>
				<div class="col-sm">{{ object.pub_year }}</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-right font-weight-bold">
					Price:
				</div>
				<div class="col-sm">{{ object.price }}$</div>
			</div>
		</div>
		<hr>
    <button type="submit" class="btn btn-danger">Delete</button>
		<a href="{% url 'artworks' %}" class="btn btn-secondary">Cancel</a>
	</form>

{% endblock %}
