{% extends 'base.html' %}

{% block title %}Delete Artwork: {{object.title}}{% endblock %}

{% block subheader %}
{% endblock %}

{% block content %}
  <h1>Delete Artwork: {{object.title}}</h1>

	<form action="" method="post">
		{% csrf_token %}
		<p>The following Artwork will be deleted. All related childs will be deleted by CASCADE. Are you sure?</p>
		<hr>
			{% include 'artworks/inc/artwork_details_by_type.html' %}
		<hr>
    <button type="submit" class="btn btn-danger">Delete</button>
		<a href="{% url 'artworks' %}" class="btn btn-secondary">Cancel</a>
	</form>

{% endblock %}
